<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gym Tracker</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/workout.css">
    </head>
    <body>
        <div id="workout-page" data-id=<%=workouts[0].routineId%>>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Gym Tracker</a>
                <i class="nav-item nav-link fas fa-users" id="friends-btn"></i>
                <i class="nav-item nav-link fas fa-bell" id="notifications-btn"></i>
                <i class="nav-item nav-link fas fa-sign-out-alt" id="logout-btn"></i>
            </nav>
            <div id="notifications" class="nav-popup hidden">
                <h3>Notifications</h3>
            </div>
            <div id="friends" class="nav-popup hidden">
                <h3>Friends</h3>
                <ul id="friends-list">
                    <li class="friend">Hello</li>
                </ul>
                <label>Add a friend:</label>
                <input type="text" id="friend-search" placeholder="ex: John Doe">
                <div id="user-results" class="hidden">
                    <div class="user-result">User 1</div>
                </div>
            </div>
            <h2><%=workouts[0].routineName%></h2>
            <div id="btn-group-container">
                <div class="btn-group" id="workout-select-btns">
                    <%for(let i = 0; i < workouts.length; ++i) { %>
                        <button type="button" class="btn btn-info workout-btn" data-id=<%=workouts[i].id%>><%=workouts[i].name%></button>
                    <% } %> 
                </div>
            </div>
            <% for(let i = 0; i < workouts.length; ++i) { %>
            <div class="accordion workout-accordion hidden" id=<%="workout" + i.toString()%> data-id=<%=workouts[i].id%>>
                    <% for(let j = 0; j < workouts[i].exercises.length; ++j) { %>
                        <div class="card">
                                <div class="card-header" id=<%="workout" + i.toString() + "heading" + j.toString()%>>
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target=<%="#exercise" + workouts[i].exercises[j].id%> aria-expanded="true" aria-controls=<%=workouts[i].exercises[j].name%>>
                                        <%=workouts[i].exercises[j].name%>
                                        </button>
                                    </h5>
                                </div>
                                <div id=<%="exercise" + workouts[i].exercises[j].id%> class="collapse" aria-labelledby=<%="workout" + i.toString() + "heading" + j.toString()%> data-parent=<%="#workout" + i.toString()%> data-id=<%=workouts[i].id%>>
                                    <div class="card-body exercise" data-id=<%=workouts[i].exercises[j].id%>>
                                        <% for(let k = 1; k <= workouts[i].exercises[j].sets; ++k) { %>
                                            <div class="set">
                                                <h6>Set <%=k%></h6>
                                                <label>Reps completed:</label>
                                                <input class="rep-entry" type="number" min="0" placeholder=<%=workouts[i].exercises[j].reps%>>
                                                <label>Weight used (lbs):</label>
                                                <input class="weight-entry" type="number" min="0">
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                    <% } %>
            </div>
            <% } %>
            <div id="finish-btn-container">
                <button class="btn btn-info" id="finish-workout-btn">Finish Workout</button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="/javascripts/navbar.js"></script>
        <script src="/javascripts/workout.js"></script>
    </body>
</html>